
      <div>
        <%= simple_form_for @info do |f| %>
            <%= f.input :name %>
            <br/>
            <%= f.input :date_of_birth, label: MM/DD/YYYY %>
            <br/>
            <%= f.input :reason_for_wanting_to_leave %>
          </div>
          
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f. submit "Let's Blast Off!", class: 'btn btn-secondary' %>
          </div>
        <% end %>
      </div>
  
