<!DOCTYPE html>
<html>
  <head>
    <title>Mars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/fc19e69a08.js"></script>
  </head>





    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
        <h4 class="modal-title" id="myModalLabel"><i class="fas fa-user-astronaut"></i>&nbsp;Tell us about yourself</h4>
      </div>
  
    <div class="booyah-box col-10 offset-1">
      <%= simple_form_for @client do |f| %>
        <div class="modal-body">
          <%= f.input :name, placeholder: 'Name' %>
          <%= f.input :age, placeholder: 'Select your age - must not be over 35'  %>
          <%= f.input :email, placeholder: 'user@domain.com' %>
          <%= f.input :message, placeholder: 'Why do want to be a Martian?' %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Blast Off!", class: 'btn btn-secondary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>








    <%= yield %>
  </body>
</html>
